@import '../sass/base/normalize';

$base-color: #4E5166;

@keyframes fadeIn {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

//* Header banner with logo
header {
  width: 100%;
  height: 100px;
  background: rgba(250, 245, 245, 0.4);
box-shadow: 0 5px 7px -2px $base-color;
display:flex;
justify-content:center;
align-items:center;
position: absolute;
top:0;
opacity: 0.5;
}

.logoo{
  width:200px;
}

//*  Form 
.test {
  width:330px;
  height:50%;
  background-color: rgba(250, 245, 245, 0.3);
  box-shadow: 0 0 10px $base-color;
  font-size: 20px;
  font-family: "Lato";
  z-index: 9999;
  display:flex;
  align-items: center;
  justify-content: center;
}

.test, form {
height: 388px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: self-end;
}

//* Inputs
input {
  background: rgba(250, 245, 245, 0.75);
}

input:focus{
  outline: none;
}

.email {
  box-shadow: 0 5px 7px -2px rgb(0, 0, 0);
  display: flex;
  height: 53px;
  width: 87%;
  box-shadow: 0 0 10px $base-color;
  &_icon{
    width: 54px;
    background-color: rgba(250, 245, 245, 0.2);
    display: flex;
    justify-content:center;
    align-items:center;
    color:$base-color ;
    box-shadow: 3px 0 5px -2px $base-color;
  }
  &_input{
    width: 211px;
    border:none;
    box-shadow: 0px 0px 5px -2px $base-color;
  }

}

.password {
  box-shadow: 0 5px 7px -2px rgb(0, 0, 0);
  display: flex;
  height: 53px;
  width: 87%;
  color:$base-color;
  box-shadow: 0 0 10px $base-color;
  &_icon{
    width: 54px;
    background-color: rgba(250, 245, 245, 0.2);
    display: flex;
    justify-content:center;
    align-items:center;
    box-shadow: 3px 0 5px -2px $base-color;
    
  }
  &_input{
    width: 211px;
    border:none;
    box-shadow: 0px 0px 5px -2px $base-color;
  }

}

//* Button 
button {
  font-family:'Lato';
  width:219px;
  height:53px;
  border:none;
  background-color: rgba(250, 245, 245, 0.5);
  box-shadow: 0 0 10px $base-color;
  color: $base-color;
  margin-bottom: -22px;
  transition:width 1.2s;
  text-shadow:0 0 7px $base-color;
}

button:hover{
  background-color: rgba(250, 245, 245, 0.52);
  -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
       
        width: 287.09px;
        
}
//* Text form
.message {
  font-family: 'Leto';
  color: #ffffff;
  font-size: 14px;
  font-style: italic;
  font-weight:600;
  width: 100%;
  display: flex;
  justify-content: space-around;
  
  &_question{
    width: 40%;
    color: #FFD7D7;
    text-shadow:0 0 7px #FD2D01;
   //  box-shadow: 2px 5px 7px -2px rgb(0, 0, 0);
    height: 85px;
    display: flex;
    justify-content: center;
    align-items:center;
   //  box-shadow: 0 0 10px #FD2D01;
  }

}

@keyframes scaler {
  from {
      transform: rotate(0deg);
  }
 to {
       transform: rotate(360deg);
  }
}

.message a{
  font-family: 'Leto';
  color: white;
  text-decoration: none;
  font-weight:800;
  font-style: italic;
  // box-shadow: 2px 5px 7px -2px rgb(0, 0, 0);
  width: 40%;
  height: 85px;
  display: flex;
  // box-shadow: 0 0 10px #FD2D01;
  justify-content: center;
  align-items:center;
  transition: scale 0.8s;
  text-shadow:0 0 7px #FD2D01;
  text-decoration: underline;
  
}
.message a:hover{
  color:white;
  scale:(1.1);

}

.sv {
  color: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
 padding-top: 10px;
 color:$base-color;

width:40px;
 position: relative;
 bottom: 5px;
 right:5px;

 animation-duration: 6s;
  animation-name: scaler;
  animation-iteration-count: infinite;
 
}



/* Config */
$color-bg: #111;
$color-particle: #fff;
$spacing: 2560px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 600s;

@function particles($max) {
   $val: 0px 0px $color-particle;
   @for $i from 1 through $max {
      $val: #{$val},
      random($spacing)+px random($spacing)+px $color-particle;
   }
   @return $val;
}

@mixin particles($max) {
   box-shadow: particles($max);
}

/* Styles */
html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    overflow: hidden;
}

.page-bg,
.animation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;

  align-items: center;
}

.page-bg { 
  background: $color-bg url("../images/pexels-stephan-seeber-1668246.jpg");
  background-size: cover;
  z-index: -1;
}

.particle,
.particle:after {
  background: transparent;
}

.particle:after {
  position: absolute;
  content: "";
  top: $spacing;
}

.particle-1 {
  animation: animParticle $time-1 linear infinite;
  @include particles(600);
  height: 1px;
  width: 1px;
}

.particle-1:after {
  @include particles(600);
  height: 1px;
  width: 1px;
}

.particle-2 {
  animation: animParticle $time-2 linear infinite;
  @include particles(200);
  height: 2px;
  width: 2px;
}

.particle-2:after {
  @include particles(200);
  height: 2px;
  width: 2px;
}

.particle-3 {
  animation: animParticle $time-3 linear infinite;
  @include particles(100);
  height: 3px;
  width: 3px;
}

.particle-3:after {
  @include particles(100);
  height: 3px;
  width: 3px;
}

.particle-4 {
  animation: animParticle $time-4 linear infinite;
  @include particles(400);
  height: 1px;
  width: 1px;
}

.particle-4:after {
  @include particles(400);
  height: 1px;
  width: 1px;
}

@keyframes animParticle {
  from { transform: translateY(0px); }
  to   { transform: translateY($spacing * -1); }
}
